

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-calendar{
  width: 60% !important;
}

/* Custom styling for checkboxes */
.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox-input {
  display: none; /* Hide the default checkbox */
}

.checkbox-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-size: cover;
}

/* Custom styles for the tick icon */
.checkbox-icon.checked {
  background-image: url('./Assets/images/tick_icon.png'); /* Replace 'path-to-tick-icon.png' with your tick icon image */
}